<div class="main">
  <div class="inner">
    <div class="form_wrapper">
      <h2 class="page_heading">EDIT</h2>

        <%= form_with model: current_user, local: true do |f| %>

        <%= render 'devise/shared/error_messages', model: f.object %>

        <div class="field">
          <%= f.label :email, "email" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email", class: :form_text %>
        </div>

        <div class="field">
          <%= f.label :password, "password" %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "new-password", class: :form_text %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "password(confirm)" %><br />
          <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password", class: :form_text %>
        </div>

        <div class="field">
          <%= f.label :nickname, "nickname" %><br />
          <%= f.text_field :nickname, id:"user_name", class: :form_text %>
        </div>

        <div class="actions">
          <%= f.submit "EDIT", class: :form_btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>